project: trytry
wandb_host: https://api.wandb.ai
wandb_key: 22222f29f57178d180e9204becb20173beea18e9
logger_type: "wandb"

generator_ckpt: ~
generator_fsdp_wrap_strategy: size
real_score_fsdp_wrap_strategy: size
fake_score_fsdp_wrap_strategy: size
text_encoder_fsdp_wrap_strategy: size
generator_type: bidirection
sharding_strategy: hybrid_full
model_name: /mnt/nfs/workspace/sqj/base_models/Wan2.2-TI2V-5B

denoising_step_list:
- 1000
- 750
- 500
- 250
warp_denoising_step: true # need to remove - 0 in denoising_step_list if warp_denoising_step is true
ts_schedule: false
num_train_timestep: 1000
num_training_frames: 31
num_frame_per_block: 31
timestep_shift: 5.0
guidance_scale: 6.0
denoising_loss_type: flow

mixed_precision: true
seed: 0
lr: 5.0e-07
beta1: 0.0
beta2: 0.999
max_grad_norm_generator: 10
lr_critic: 1.0e-07
beta1_critic: 0.0
beta2_critic: 0.999
max_grad_norm_critic: 10
batch_size: 1
grad_accum_steps: 4
ema_weight: 0.99
ema_start_step: 200
log_iters: 100
max_step: 5000

data_path: prompts/vidprom_filtered_extended.txt
negative_prompt: '色调艳丽，过曝，静态，细节模糊不清，字幕，风格，作品，画作，画面，静止，整体发灰，最差质量，低质量，JPEG压缩残留，丑陋的，残缺的，多余的手指，画得不好的手部，画得不好的脸部，畸形的，毁容的，形态畸形的肢体，手指融合，静止不动的画面，杂乱的背景，三条腿，背景人很多，倒着走'
dfake_gen_update_ratio: 5
image_or_video_shape:
- 1
- 31
- 48
- 44
- 80
trainer: score_distillation
gradient_checkpointing: true
model_kwargs:
  timestep_shift: 5.0
local_attn_size: -1
